* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
}

body {
    background-color: var(--light-blue);
    height: 100vh;
    overflow-x: hidden;
    /* padding: 1rem; */
}
main{
    padding: 1rem;
}
@font-face {
    font-family: "quicksand";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
    font-weight: normal;
    font-style:login normal;
}
button, .button{
    border: none;
    background-color: var(--button);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
}
/*COLOURS*/
:root {
    --light-blue: #CDD4D9;
    --medium-blue: #A7BAC8;
    --dark-blue: #838E97;
    --darkest-blue: #5c616c;
    --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    --button: rgb(132, 132, 225);
    --background: rgba(91, 95, 137, 0.804);
    --buttonActive: rgb(111, 111, 165);
}

.radius {
    border-radius: 5px;
}

.text-center {
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}
.flex-col{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}










/* admin products */
#prod-container{
    margin-top: 3rem;
}
.product-tile {
    align-items: center;
}

.product-tile div:first-child {
    align-items: center;
    justify-content: center;
}

.product-tile img {
    width: 10%;
    height: 10%;
}

.product-tile p {
    font-size: 0.8rem;
}

.desktop-searchbar {
    display: none;
}
.admin-page-title h1{
    margin-top: 0.4rem;
    font-size: 1.9rem;
}
.admin-page-title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2rem;
}
/* search bar and filters */
.search-cont{
    position: relative;
    margin-bottom: 2rem;
}
.search-cont input{
    border: none;
    box-shadow: var(--shadow);
    padding: 0.2rem;
    width: 100%;
    outline: 2px solid var(--light-blue);
    border-radius: 12px;
}
.search-cont input:hover, .search-cont input:active{
    outline: 2px solid var(--medium-blue);
}
.mobileSearch, .searchIcon{
    z-index: 999;
    position: absolute;
    right: 20px;
    top: 5px;
}

/*PRODUCTS PAGE*/
.product{
    background-color: var(--background);
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0.5rem;
}
.product img{
    height: 5rem;
    width: 5rem;
    border-radius: 5px 0px 0px 5px;
}
.product h6{
    padding-left: 1rem;
}

.filtersColours,
.filtersBrands {
    border-bottom: 1px solid black;
    padding: 0.5rem 0rem 0.5rem 0rem;
    align-items: start;
    margin-top: 1rem;
}

.colour {
    align-items: start;
    width: fit-content;
    justify-content: start;
    padding-right: 1rem;
}

.colour img,
.radio {
    margin: 0.3rem 0.5rem 0rem 0rem;
}


select {
    margin-top: 0.5rem;
}

/*filters*/
.brands{
    align-items: start;
}
#applyFilters,
#clearFilters {
    margin-top: 2rem;
    transform: scale(0.8);
}

#applyFilters {
    border: 2px solid var(--dark-blue);
}

#clearFilters {
    background-color: white;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}

.filter-cont {
    flex-direction: column;
    align-items: start;
}
.filters{
    margin-left: -2rem;
    width: 80%;
    margin-top: -3rem;
}
.filtersColours, .filtersBrands{
    flex-direction: column;
}
.colours, .brands{
    flex-direction: column;
}

#filterButton {
    font-weight: bold;
    cursor: pointer;
}
#arrow {
    transition: transform 0.3s ease; 
}
#toggleCheckbox:checked + label #arrow {
    transform: rotate(180deg);
}
.arrow-down{
    width: 0.8rem;
    height: 0.8rem;
    padding-bottom: 0.2rem;
    margin-left: 0.5rem;
}


.filters-mob{
    width: 100vw !important;
    display: flex;
    justify-content: start !important;

}

#filters {
    display: none;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    transform: scale(0.8);
}
.new-btn{
    font-size: 0.8rem;
}

/* END */


/* edit products */
.edit-background{
    background-color: var(--background);
    padding: 2rem;
    margin-top: 2rem;
    color: white;
}
.prod-title{
    width: 100%;
}
.prod-title label{
    color: black;
    font-size: 1.5rem;
}
.prod-title input{
    padding: 0.5rem !important;
    border-radius: 10px;
    border: none;
    width: 20rem;
}
.edit-prod-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
}
.edit-cont{
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.edit-cont input, .edit-cont textarea, .edit-cont select{
    padding: 0.2rem;
    border-radius: 10px;
}
.edit-cont input:active, .edit-cont textarea:active, .edit-cont select:active{
    border: 2px solid var(--button);
    outline: none;
}
.edit-cont input:focus, .edit-cont textarea:focus, .edit-cont select:focus{
    outline: none;
    border: 2px solid var(--button);
}
.checks{
    margin-bottom: 0.7rem;
}
.first-check{
    margin-top: 2rem;
}
.update-delete-btns{
    justify-content: space-between;
}
.update-delete-btns input{
    width: 100%;
}
.confirmUpdate, .confirmDelete{
    margin-top: 2rem;
    font-size: 1rem !important;
    width: 7rem !important;
    background-color: transparent;
    border: 2px solid var(--button);
}
.brandUpdate, .brandDelete{
    width: 45% !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: rgb(67, 27, 23);
}
.brandDelete{
    background-color: var(--button);
    color: white;
}
input[name='BrandName']{
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--darkest-blue);
    font-size: 1.5rem;
}

.button{
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
    font-size: 1.2rem;
}
.variant-btn{
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.variant-btn a{
    color: white;
    font-weight: bold;
}

#imageUpload{
    margin-right: 2rem;
    margin-left: 1rem;
}
.new-prod-img{
    margin-left: 0rem !important;
    margin-bottom: 1rem;
}
.image-uploadBtn{
    width: 18rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
}
.edit-cont label{
    font-weight: bold;
}

#showImages{
    margin-top: 1rem;
}
.prod-imgs{
    flex-wrap: wrap;
    align-items: center;
}
.item-imgs{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.item-imgs img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.3rem;
}
.edit-imgs-cont{
    width: 100%;
    background-color: var(--background);
    margin-top: -6rem;
    color: white;
}
.descriptionInput{
    padding:1rem;
}
.new-imgcont{
    margin-bottom: 2rem;
}
.new-imgcont p{
    padding: 1rem 1rem 0rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.new-prod-btn{
    width: 100%;
}


/* delete modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Keeps it fixed in the viewport */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Moves it back to center */
    z-index: 1000; /* Ensures it stays above other elements */
    background-color: white; /* Adds a background */
    width: 300px; /* Set a width */
    padding: 20px; /* Padding inside modal */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 8px; /* Optional rounding */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Inner modal styling */
.inner-modal {
    text-align: center; /* Center the text inside */
}

span .close {
    cursor: pointer; /* Makes the close icon clickable */
    float: right;
    font-size: 20px;
}
span .close:hover, span .close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}




/* LOG IN PAGE */
.login h1{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.login-page{
    background-color: var(--light-blue);
    justify-content: center;
    align-items: center;
}
.login{
    border: 2px solid var(--darkest-blue);
    padding: 2rem;
    background-color: var(--background);
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    color: white;
    transform: scale(1.2);
}
.login-input{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-btn{
    box-shadow: var(--shadow);
    color: white;
    width: 100%;
}
.login-btn:active, .login-btn:focus, .login-btn:hover{
    background-color: var(--buttonActive);
}
.login-input input{
    border: none;
    border-bottom: 1px solid black;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    overflow: hidden;
}
.login-input label{
    color: transparent;
}
.login-input input:focus, .login-input input:active{
    outline: none;
}
.login-icon{
    position: relative;
}
.fa-lock, .fa-user{
    position: absolute;
    right: 10px;
    top: 9px;
    font-size: 0.9rem;
}
.login-error{
    font-size: 0.8rem;
}
/* END */


/* ADMIN PANEL */
.panel-contents{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-box{
    background-color: var(--background);
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}
.admin-links {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 1rem 0rem;
}
.link-box:hover{
    background-color: var(--button);
}
.background{
    background-color: var(--light-blue);
}

/* END */

/* BRANDS */
.brands-cont{
    margin-top: 5rem;

} 
.all-brands, .new-brand{
    flex-direction: column;
    justify-content: space-between;
    align-items: start !important;
    margin-top: 3rem;
}
.brand{
    margin-bottom: 2rem;
    flex-direction: column;
}
.brand input{
    padding: 0.5rem;
    outline: none;
}
.brand-buttons{
    justify-content: space-evenly;
}

/* END */



/* NAVIGATION */
.navbar {
    background-color: var(--background);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout{
    padding-left: 1.5rem;
    justify-content: start;
    align-items: center;
}
.fa-right-from-bracket{
    transform: rotate(180deg);
}
.user-display{
    all:unset;
}
.user{
    justify-content: flex-start;
    align-items: start;
    color: white;
    margin-right: 2rem;
}
.user-icon{
    all: unset;
    margin: 0.2rem 1rem 0rem 0rem;
}
.hamburger {
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    /* hide nav bar at first */
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: var(--background);
    transition: left 0.3s ease; 
    z-index: 1000;
    overflow-y: auto;
    padding-top: 5rem;
    box-shadow: var(--shadow); 
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 1.5rem;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block; 
}

/* slide the nav into view */
.sidebar.active {
    left: 0; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
table{
    border: 1px solid black;
    font-size: 0.65rem;
}
table tr{
    border: 1px solid black;
}
table td{
    border: 1px solid black;
    padding: 0.2rem;
}
table th{
   
    padding-right: 2rem;
    border: 1px solid black;
}
.order-container{
    position: absolute;
    border: 2px solid red;
    width: 100%;
}
.order-heading{
    margin: 10rem 0rem 5rem 0rem;
    background-color: white;
    padding: 1rem;
    font-size: 1.2rem;
    width: 15rem;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.orderTable{
    display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: absolute;
}
.OT1{
    margin-top: 25rem;
}
.OT2{
    margin-top: 45rem;
}

.orderVisible{
    display: block;
    max-height: 500px;
    opacity: 1;
}
#completeOrder{
    background-color: var(--button);
    border: none;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}
#completeOrder:hover, #compelteOrder:focus{
    background-color: var(--buttonActive);
}


/* desktop */
@media screen and (min-width: 992px) {

    .desktop-searchbar {
        display: block;
    }

    .mobile-searchbar {
        display: none;
    }

    /* LOGIN PAGE */
    .login{
        width: 40rem;
        padding-bottom: 3rem;
    }
    .login h1{
        margin: 0rem;
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
    }
    .login input{
        width: 15rem;
    }
    .login-btn{
        width: 15rem;
        text-align: center;
        padding: 0.2rem 0rem 0.2rem 0rem;
        margin-top: 0.4rem;
    }

    /* END */

    /* ADMIN PANEL */
    
    .admin-links{
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
    }
   
    /* END */


    /* edit products */
.edit-prod-flex{
    width: 20rem;
}
.edit-cont{
    padding: 3rem 5rem 3rem 5rem;
    margin-bottom: 2rem;
    border-radius: 5px 5px 0px 0px;
}


.edit-cont label{
    font-weight: bold;
}

.prod-imgs{
    flex-wrap: wrap;
    align-items: center;
}
.item-imgs{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.item-imgs img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.3rem;
}

.edit-background{
  display: flex;
  justify-content: space-evenly;
}
.checks{
    margin-bottom: 1.5rem;
}
.checks label{
    text-decoration: underline;
}
.edit-buttons{
    margin-top: 6rem;
}
.button{
    font-size: 1rem;
}
.image-uploadBtn{
    width: 10rem;
    margin-left: -8rem;
}
.confirmUpdate, .confirmDelete{
    margin-top: 0rem;
    width: 9.5rem !important;
}
.variant-btn{
    width: 100% !important;
}
.variant-btn button{
    width: 15rem;
}
.edit-section2{
    margin-left: 6.5rem;
}
.new-prod-btn{
    margin-top: 1.5rem;
}
#prod-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 4rem;
}
.product{
    width: 45%;
    margin-right: 1rem;
}
.new-btn{
    font-size: 1.2rem;
}
.confirmUpdate:hover, .confirmDelete:hover{
    background-color: var(--button);
}
}
