* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

.radius {
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

main {
    padding: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}




/* admin panel */
.admin-links {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 1rem 0rem;
}

.link-box {
    padding: 2rem;
    border: 2px solid slategray;
    margin-bottom: 2rem;
}



/* admin products */
.product-tile {
    align-items: center;
}

.product-tile div:first-child {
    align-items: center;
    justify-content: center;
}

.product-tile img {
    width: 10%;
    height: 10%;
}

.product-tile p {
    font-size: 0.8rem;
}

.desktop-searchbar {
    display: none;
}




/* edit products */
.item-imgs img {
    width: 2rem;
}



/* delete modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Keeps it fixed in the viewport */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Moves it back to center */
    z-index: 1000; /* Ensures it stays above other elements */
    background-color: white; /* Adds a background */
    width: 300px; /* Set a width */
    padding: 20px; /* Padding inside modal */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 8px; /* Optional rounding */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Inner modal styling */
.inner-modal {
    text-align: center; /* Center the text inside */
}

span .close {
    cursor: pointer; /* Makes the close icon clickable */
    float: right;
    font-size: 20px;
}
span .close:hover, span .close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* desktop */
@media screen and (min-width: 992px) {

    .desktop-searchbar {
        display: block;
    }

    .mobile-searchbar {
        display: none;
    }
}