* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

/*FONTS*/
@font-face {
    font-family: "aboreto";
    src: url(../fonts/Aboreto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*END*/

h1,
h2,
h3 {
    font-family: "aboreto";
}

.radius {
    border-radius: 8px;
}

.align {
    text-align: center;
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: white;
    outline: none;
    padding: 0.1rem 1rem 0.1rem 1rem;
    border: none;
    box-shadow: var(--shadow);
}


/*COLOURS*/
:root {
    --light-blue: #CDD4D9;
    --medium-blue: #A7BAC8;
    --dark-blue: #838E97;
    --darkest-blue: #5c616c;
    --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/*END*/

/*FLEX*/
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-start {
    align-items: start;
}

.flex-between {
    justify-content: space-between;
}

.flex-even {
    justify-content: space-evenly;
}

/*END*/

img {
    object-fit: cover;
}

a {
    position: relative;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
.desk-nav a:hover{
    color: white;
}

.desk-nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(72, 72, 72);
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -2px;
    left: 0;
    letter-spacing: 1em;
}

/*expands to full width of container on hover*/
a:hover::after {
    width: 100%;
}

a {
    padding-bottom: 2px;
}



/*HEADER / NAV*/
.desk-nav {
    display: none;
}

.mobile-nav {
    width: 100%;
}

.icons {
    position: fixed;
    right: 0rem;
    top: 1rem;
    width: 40%;
    font-size: 1.3rem;
}

header {
    background-color: var(--dark-blue);
    padding: 0.8rem 1rem 0.8rem 1.2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.head {
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

header h1 {
    font-size: 1.3rem;
    font-family: "italiana";
}

.hamburger-container {
    width: 2.7rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    cursor: pointer;
}

.hamburger {
    width: 75%;
    height: 75%;
    background-color: var(--darkest-blue);
    border-radius: 1rem;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hamburger-1,
.hamburger-3 {
    animation-duration: 700ms;
}

.hamburger-2 {
    width: 50%;
    animation-duration: 500ms;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        transform: scale(.5);
    }
}

@keyframes flipDown {
    100% {
        transform: rotate(45deg) translate(6px, 7px);
    }
}

@keyframes flipUp {
    100% {
        transform: rotate(-45deg) translate(6px, -7px);
    }
}


.navigation {
    display: none;
    width: 100%;
    background-color: var(--dark-blue);
    margin: 4rem 0rem 0rem -9rem;
}

.navigation li {
    margin-left: -2rem;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style: none;
    width: 45%;
    justify-content: space-evenly !important;
    height: 12rem;
    margin-left: 2rem;
}

li {
    text-align: left;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    background-position: right;
    opacity: 0;
    /* Start with hidden items */
    transform: translateY(10px);
    /* Optional: add a bit of movement initially */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Animation properties */
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    /* Reset the transform for the fade-in effect */
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    /* Adjust duration as */
}

.title {
    background-color: white;
}

.title h1 {
    font-family: "Aboreto";
    padding: 0.2rem;
    font-weight: bold;
    margin-top: 0.3rem;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
}


/*END*/

/*FOOTER*/
footer {
    padding: 2rem;
    background-color: var(--light-blue);
}

footer h6 {
    font-weight: bold;
}

.cards {
    width: 12rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.socials {
    margin: 5rem 0rem 0.5rem 0rem;
}

.socials img {
    margin: 0rem 0.7rem 0rem 0.7rem;
}

.footer-links {
    margin-top: 2rem;
}

.ft-info {
    padding-right: 3.5rem;
}


/*END*/



/*HOME*/
.banner {
    width: 100vw;
    height: 30rem;
    background-image: url(../images/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner h1 {
    margin-top: 5rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.search-cont {
    position: relative;
    border-radius: 20px;
    background-color: transparent;
}

#search, #deskSearch {
    border: 1px solid var(--darkest-blue);
    border-radius: 20px;
    height: 1.5rem;
    width: 12rem;
    position: absolute;
    right: 0;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 0.8rem;
    background-color: rgb(243, 243, 243);
}

#search:hover,
#search:active,
#search:focus,
#deskSearch:hover,
#deskSearch:focus,
#deskSearch:active {
    cursor: pointer;
    outline: none;
    border: 2px solid var(--darkest-blue);
    background-color: white;
}

.searchIcon {
    z-index: 10;
    margin-right: 1rem;
    font-size: 1rem !important;
    margin-top: 0.2rem;
}

.bs-cont {
    margin-top: 4rem;
    background-color: var(--light-blue);
    padding: 2rem 0rem 2rem 0rem;
}

.bestseller-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.bestsellers,
.slider {
    width: 100%;
}
.bs-item{
    color: white;
}


/*SLIDER HOME PAGE SPLIDE*/
.splide__pagination{
    display: none;
}
.splide-cont {
    margin: 7rem 0rem 10rem 0rem;
    width: 100%;
    height: 12rem;
}

.splide {
    width: 100% !important;
    padding: 0rem 1rem 0rem 1rem;
}

#splide01 {
    margin: 5rem 0rem 5rem 0rem;
}

.splide__track {
    height: 20rem !important;
}

/*SLIDER HOME PAGE SPLIDE*/
.splide__pagination {
    display: none;
}

.splide-cont {
    margin: 7rem 0rem 10rem 0rem;
    width: 100%;
    height: 12rem;
}

.splide {
    width: 100% !important;
    padding: 0rem 1rem 0rem 1rem;
}

#splide01 {
    margin: 5rem 0rem 5rem 0rem;
}

.splide__track {
    height: 20rem !important;
}

.bs-item {
    text-align: center;
    box-shadow: var(--shadow);
    border: 8px solid white;
    font-family: 'Aboreto';
    font-weight: bold;
}

.bs-item:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

/* .bs-desc {
    display: none;
} */

.bs-desc p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.bs-item img {
    width: 100%;
    height: 20rem;
    position: relative;
    filter: brightness(0.75);
}

.bs-item .overlay {
    z-index: 999;
    position: absolute;
    bottom: -210px;
    left: 28%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: var(--shadow);
    font-family: 'Aboreto';
    width: 100%;
    height: 20rem;
    position: relative;
    filter: brightness(0.75);
}

.bs-item .overlay {
    z-index: 999;
    position: absolute;
    bottom: -210px;
    left: 28%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: var(--shadow);
    font-family: 'Aboreto';
}

.bio {
    flex-direction: column;
    padding: 0rem 2rem 2rem 2rem;
}

.bio-about {
    padding: 1rem 1rem 3rem 1rem;
    background-color: var(--medium-blue);
}

.bio img {
    width: 18rem;
    z-index: 999;
    margin-top: -3rem;
}

.home-cafe {
    background-image: url(../images/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    color: white;
    position: relative;
    margin: 2rem 0rem 2rem 0rem;
}

.cafe-text {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding-right: 1.5rem;
}

.cafe-text a:hover::after {
    all: unset;
}

.cafe-text em:hover,
.cafe-text em:active {
    font-style: italic;
    text-decoration: underline;
}

/*END*/


/*CONTACT PAGE*/
.contact-header {
    width: 100%;
    height: 8rem;
    margin-top: 10rem;
}

.contact-header img {
    width: 80%;
}

.contact-info {
    margin-top: 5rem;
    padding: 0.5rem;
    width: 100%;
}

.visitUs {
    border-bottom: 1px solid black;
    width: 80%;
}


.opening-times {
    margin-top: 2rem;
}



.opening-times .times {
    margin-left: 1.5rem;
}



.details {
    align-items: start;
    width: 80%;
    margin-top: 2rem;
}

.fa-envelope,
.fa-phone {
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem 0rem 0rem;
}

.phone,
.email {
    justify-content: start;
    align-items: start;
}

.map {
    width: 100%;
    margin: 3rem 0rem 3rem 0rem;
}

.map iframe {
    width: 80%;
    height: 15rem;
}

.contact {
    width: 80%;
    margin: 0rem;
    padding: 0rem;
    border-radius: 10px;
    border: 1.5px solid var(--darkest-blue);
}

.contact-title {
    background-color: var(--medium-blue);
    margin-bottom: -0.5rem;
    border-radius: 8px 8px 0px 0px;
    padding: 0.5rem 0rem 0.5rem 0rem;

}

.form-cont {
    width: 100%;
    margin-top: 10rem;
}


form {
    color: white;
    padding: 2rem 0rem 1rem 0rem;
    border-radius: 0px 0px 8px 8px;
}

form label{
    color: var(--darkest-blue);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input, form textarea {
    border-radius: 8px;
    outline: none;
    border: 1.5px solid var(--dark-blue);
    width: 15rem;
    padding: 0.2rem;
}

form input:hover,
form input:focus,
form input:active,
form textarea:hover,
form textarea:active,
form textarea:focus {
    border: 2px solid var(--darkest-blue);
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}



.message {
     /* Set width to fit your layout */
    line-height: 1.5rem; 
    resize: none; 
    overflow: hidden; 
    height: 8rem;
}

.form-name::placeholder, .message::placeholder, .form-email::placeholder{
    font-style: italic;
}

form .send {
    margin: 0rem 0rem 1rem 0rem;
    border-radius: 20px;
    background-color: white;
    color: var(--darkest-blue);
    font-weight: bold;
    border: 2px solid var(--darkest-blue);
    box-shadow: var(--shadow);
    transition: letter-spacing 0.3s ease-in-out;
    transition: letter-spacing 0.3s ease-in-out, transform 0.3s ease-in-out;
}


form .send:hover,
form .send:active,
form .send:focus {
    border-radius: 20px;
    letter-spacing: 0.2em;
    transform: scale(1.1);
}

/*PRODUCTS PAGE*/
.filtersColours,
.filtersBrands {
    border-bottom: 1px solid black;
    padding: 0.5rem 0rem 0.5rem 0rem;
    align-items: start;
    margin-top: 1rem;
}

.colour {
    align-items: start;
    width: fit-content;
    justify-content: start;
    padding-right: 1rem;
}

.colour img,
.radio {
    margin: 0.3rem 0.5rem 0rem 0rem;
}


select {
    margin-top: 0.5rem;
}

/*filters*/
.brands{
    align-items: start;
}
#applyFilters,
#clearFilters {
    margin-top: 2rem;
    transform: scale(0.8);
}

#applyFilters {
    border: 2px solid var(--dark-blue);
}

#clearFilters {
    background-color: white;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}

.filter-cont {
    align-items: end;
}

.filter-btn-container{
    width: 100vw !important;
    display: flex;
    justify-content: start;
}

#filterButton {
    padding: 0rem;
    background-color: white;
    color: var(--darkest-blue);
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
}
#arrow {
    transition: transform 0.3s ease; 
}
#toggleCheckbox:checked + label #arrow {
    transform: rotate(180deg);
}
.arrow-down{
    width: 0.8rem;
    height: 0.8rem;
    padding-bottom: 0.2rem;
    margin-left: 0.5rem;
}


.filters-mob{
    width: 100vw !important;
    display: flex;
    justify-content: start !important;
}

#filters {
    display: none;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    transform: scale(0.8);
}

.categories-desk {
    display: none;
}

.categories-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* allows scrolling */
    overflow-x: auto; 
    scroll-behavior: smooth;
    width: 100vw;
}

.categories-mobile::-webkit-scrollbar {
    display: none;
}

.categories-mobile {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.category-mob{
    /* necessary for scrolling above */
    flex-shrink: 0;
    padding: 0.3rem 2rem 0.3rem 2rem;
    background-color: var(--medium-blue);
    margin-right: -0.8rem;
    border-radius: 5px;
    transform: scale(0.8);
    color: white;
    font-family: 'Aboreto';
}
.category-mob:focus, .category-mob:active{
    box-shadow: var(--shadow);
    background-color: var(--dark-blue);

}


/*PRODUCT DISPLAY*/

.product-div{
    justify-content: end !important;
    margin-left: 15rem;
    padding: 0rem 3rem 0rem 3rem;
    margin-bottom: 3rem;
    display: none;
}
.product-div div:first-child{
    width: 100%;
    background-color: var(--medium-blue);
    color: white;
}
.product-div-info{
    padding: 0rem 3rem 0rem 2rem;
}
.product-div-info h1{
    font-size: 1.6rem;
    font-weight: bold;
}
.product-div-info p{
    font-size: small;
}
.product-div img{
    width: 100%;
    height: 18rem;
    border-radius: 0px 8px 8px 0px;
}



/*responsive grid layout*/
.main-container {
    min-height: 1000px;
    justify-content: start;
    padding-top: 8rem;
}

.prod-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
}

.product {
    /* Adjust flex-basis for 4 items per row */
    flex: 1 1 calc(25% - 30px); /* 25% width for 4 items minus the gap */
    min-width: 200px; /* Optional: reduce to make items smaller */
    max-width: 250px; /* Optional: cap the size to control item growth */
    transform: scale(0.95);
}
.product:hover{
    cursor: pointer;
}

.product-img {
    display: flex;
    justify-content: center;
}

.product img {
    width: 100%;
    height: 65%;
    margin-bottom: 1rem;
}

.limited-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product h6, .product p{
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.price-holder{
    display: flex;
    justify-content: space-between;
}
.product-brand{
    font-size: 0.9rem;
}

.price{
    font-weight: bold;
}
.cart-btn{
    font-size: smaller;
    font-family: 'Aboreto';
    border-radius: 5px;
    width: 100%;
    border: 2px solid var(--dark-blue);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cart-btn:hover, .cart-btn:focus, .cart-btn:active{
    background-color: var(--dark-blue);
    color: white;
}

/*END*/



/* ITEM PAGE */
.item-main{
    padding: 8rem 1.3rem 1.3rem 1.3rem;
}
.item-cont{
    padding: 1.5rem;
}

.item-content h1{
    font-size: 1.5rem;
}
.item-content h2{
    font-size: 1rem;
    margin-bottom: 1.4rem;
}
.item-content p{
    padding-right: 2rem;
}
.short-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

#description-wrapper {
    overflow: hidden; 
    max-height: 3.2em; 
    transition: max-height 0.5s ease; 
}
#description-wrapper.expand {
    max-height: 1000px; 
}
.color-display{
    margin-top: -1rem;
}
.colours{
    margin-top: -1rem;
}
.color-display p{
    margin-right: 0.5rem;
}
.color-display a{
    border: 2px solid white;
}
.color-display a:active,
.color-display a:focus{
    border: white;
}
.price-quant{
    align-items: start;
}
.price-quant p{
    font-weight: bold;
    font-size: large;
    margin-right: 2rem;
}
.quant-label{
    font-size: 1.1rem;
}
.price-quant input{
    height: 1rem;
    width: 4.5rem;
    margin-left: 0.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    border: 2px solid var(--dark-blue);
}

.item-btn button{
    background-color: var(--dark-blue);
    color: white;
    width: 100%;
    padding: 0.3rem 0rem 0.3rem 0rem;
    margin-top: 0.3rem;
}
.item-btn button:hover,
.item-btn button:active,
.item-btn button:focus{
    background-color: var(--darkest-blue);
}
#slider1{
    padding: 0rem;
}
#slider1 li{
    opacity: 1 !important;
    padding: 0rem;
}
#slider1 .item-list{
    width: 100%;
}

#slider1 .item-img img{
    width: 100%;
    border-radius: 8px;
    height: 18rem;
    object-fit: cover;
}
#slider1 .splide__pagination{
    display: none;
}


.recomend{
   margin-top: 3.5rem;
   text-align: center;
   font-weight: bold;
}

.recomend-item{
    box-shadow: none;
}
.recomend-item img{
    height: 12rem !important;
    width: 16rem;
    border-radius: 5px 5px 0px 0px;
    filter: unset;
    box-shadow: var(--shadow);
}
.recomend-desc{
    background-color: var(--dark-blue);
    width: 16rem;
    border-radius: 0px 0px 5px 5px;
    box-shadow: var(--shadow);
    padding-top: 1rem;
}


/* END */




/*IMAGE GALLERY*/
.gallery {
    padding-top: 8rem;
}

.img-container {
    height: 20rem;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

/*END*/




@media screen and (min-width: 481px) {
    .bs-item img {
        filter: unset;
        height: 12rem;
    }

    .bs-item .overlay {
        display: none;
    }

    .bs-desc {
        display: block;
        padding: 0.5rem;
        background-color: var(--dark-blue);
        width: 100%;
    }
    .recomend-item{
        box-shadow: var(--shadow);
    }
    .recomend-item img{
        height: 12rem !important;
        width: 100%;
    }
    .bs-item img {
        filter: unset;
        height: 12rem;
    }

    .bs-item .overlay {
        display: none;
    }

    .bs-desc {
        display: block;
        padding: 0.5rem;
        background-color: var(--dark-blue);
        width: 100%;
    }
    
}
@media screen and (min-width: 650px) {
   .ft-info, .ft-info2{
    justify-content: space-evenly;
   }
   
/* ITEM PAGE */
.item-cont{
    flex-direction: row;
    height: 35rem;
}
.item-content{
    height: 24rem;
    width: 50%;
    margin-top: -2rem;
}

.item-content h1{
    font-size: 1.2rem;
    font-weight: bold;
}
.item-content h2{
    font-size: 1rem;
    margin-bottom: 1.4rem;
}
.item-content p{
    padding-right: 0rem;
    font-size: 0.8rem;
}
.short-desc {
    all:unset;
}
#description-wrapper {
    all:unset;
}
#description-wrapper.expand {
    all:unset;
}
#toggle-btn{
    display: none;
}
.price-quant p{
    font-size: large;
}
.price-quant input{
    width: 2rem;
}
/* END */
}

/*LAPTOP*/
@media screen and (min-width: 992px) {
    header {
        padding: 1rem 0rem 1rem 0rem;
    }

    .desk-nav {
        display: block;
        width: 100%;
        text-align: center;
    }

    .desk-nav ul {
        text-align: center;
        width: 100%;
    }

    .header-name {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .mobile-nav {
        display: none;
    }

    ul {
        all: unset;
    }

    li {
        all: unset;
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        font-family: "italiana";
        background-position: right;
        border-radius: 25px;
    }

    li:hover,
    .hover:hover {
        background: linear-gradient(to right, var(--light) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: left;
        transition: background-position 0.2s ease-in-out;
    }

    .hover:hover {
        background: linear-gradient(to right, var(--background) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: left;
        transition: background-position 0.2s ease-in-out;
    }

    .desk-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .products-footer{
        position: relative;
        z-index: 999;
    }

    .footer-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
    }

    .footer-links {
        margin-top: 0rem;
    }

    .ft-info {
        padding: 0rem;
    }

    .visit {
        margin-right: 12rem;
    }

    .links {
        margin-right: 10rem;
    }

    .icons-desk {
        width: 15%;
        right: 1rem;
    }

    .icons-desk i {
        font-size: 1.3rem;
        transition: transform 0.2s ease-in-out;
    }

    .icons-desk i:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    /*HOME*/
    .banner h1 {
        font-size: 3rem;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }

    .bio {
        flex-direction: row;
    }

    .bio-about {
        width: 43rem;
        height: 30rem;
        height: 30rem;
        padding: 2rem;

    }
    .bio-about h2 {
        text-align: left;
    }

    .bio img {
        margin-top: 0rem;
        margin-left: -11rem;
        width: 30rem;
        height: 25rem;
        height: 25rem;
    }

    .bio-about p {
        width: 70%;
        text-align: left;
        margin-top: 2rem;
    }

    .cafe-text h3 {
        font-size: 3rem;
    }

    .cafe-text a {
        font-size: 1.3rem;
    }

    /*CONTACT PAGE*/
 
    .contact-desktop{
        flex-direction: row;
        transform: scale(0.8);
        height: 35rem;
    }
    .contact-map-form {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .map iframe {
        width: 75%;
        height: 20rem;
    }

    .form-cont {
        width: 100%;
    }
    .contact{
        width: 100%;
    }
    form input, form textarea{
        width: 25rem;    
    }
    .contact-info{
        padding-left: 2.5rem;
    }

    /*FILTERS*/
    #filterButton {
        margin-left: 2rem;
    }
    .filter-btn-container{
        all: unset;
    }
    .filters-mob{
       width: unset !important;
    }
    .filters{
        margin-top: -3rem;
    }

    .filter-cont {
        padding: 0rem;
        width: 15rem;
        height: 55rem;
        background-color: transparent;
        border-right: 2px solid var(--medium-blue);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 120px;
        justify-content: start !important;
        align-items: start;
        z-index: 1;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar { display: none; }

    #filters {
        transform: scale(0.8);
        overflow-y: scroll;
    }

    #applyFilters,
    #clearFilters {
        width: 100%;
        padding: 0.2rem;
    }

    .categories-desk {
        display: block;
        margin-top: 3rem;
        margin-left: 2rem;
        width: 7rem;
    }

    .categories-mobile {
        display: none;
    }

    .category {
        border-bottom: 1px solid var(--darkest-blue);
        padding-bottom: 0.5rem;
    }

    .category:hover {
        cursor: pointer;
        font-weight: 500;
    }

    .prod-display {
        margin-left: 15rem;
    }
    .main-container {
        padding-bottom: 10rem;
    }
    
/* ITEM PAGE */
#slider1 .splide__track{
    height: 25rem !important;
}
#slider1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider1 .item-img img{
    width: 100%;
    height: 100% !important;
}


.item-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-cont{
    width: 100%;
    height: fit-content;
}
.item-content{
    margin-top: 3rem;
    padding: 0rem 5rem 0rem 3rem;
    margin-left: 4rem
}
.item-content h1{
    font-size: 1.2rem;
}

.item-cont input{
    width: 4rem;
    padding-bottom: 0.2rem;
    height: 1.2rem;
}

.splide-cont{
    transform: scale(0.9);
}
.item-img{
    height: 25rem;
}

/* END */
}

@media screen and (min-width: 1200px){

#slider1{
    width: 35% !important;
}
}